{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Graph Selection</legend>
          {{ form|crispy }}
      </fieldset>
      <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Select</button>
      </div>  
  </form> 
  <div class="media content-section">
    <div class="media-body">
      <h5 class="mt-0">{{ charttitle }}</h5>
      {% autoescape off %}
      {{ plot_div }}
      {% endautoescape %}
    </div>
  </div>
  <div class="media content-section">
    <div class="media-body">
      <h5 class="mt-0">{{ charttitle2 }}</h5>
      {% autoescape off %}
      {{ plot_div2 }}
      {% endautoescape %}
    </div>
  </div>
  <div class="media content-section">
    <div class="media-body">
      <h5 class="mt-0">{{ charttitle3 }}</h5>
      {% autoescape off %}
      {{ plot_div3 }}
      {% endautoescape %}
    </div>
  </div>
   <div class="media content-section">
    <div class="media-body">
      <h5 class="mt-0">{{ charttitle4 }}</h5>
      {% autoescape off %}
      {{ plot_div4 }}
      {% endautoescape %}
    </div>
  </div>

{% endblock content %}