{% extends "dashboard/base.html" %}
{% block content %}
  {% for titlei, ploti in mylist %}
    <div class="media content-section">
      <div class="media-body">
        <h5 class="mt-0">{{ titlei }}</h5>
        {% autoescape off %}
        {{ ploti }}
        {% endautoescape %}
      </div>
    </div>
  {% endfor %}
  <div class="form-group">
    <a class="btn btn-outline-info mb-4" href="{% url 'dashboard-heatmapinc' %}">Heat Map of Incidents</a><br>
    <a class="btn btn-outline-info mb-4" href="{% url 'dashboard-heatmapcase' %}">Heat Map of Cases</a>
  </div>
{% endblock content %}