{% extends "dashboard/base.html" %}
{% block content %}
  <div class="form-group">
    <a class="btn btn-outline-info mb-4" href="{% url 'dashboard-graphadjust' %}">Change data selected for all graphs</a><br>
    <h>Parameters used for all graphs below</h>
    <div class="table table-striped table-bordered">        
        <div class="row align-items-start">
            <div class="col">Bucket Size</div>
            <div class="col">Start Date</div>
            <div class="col">End Date</div>
            <div class="col">Start Urgency</div>
            <div class="col">End Urgency</div>
        </div>
        <div class="row align-items-left">
            <div class="col">{{ bucketsize }}</div>
            <div class="col">{{ startdate }}</div>
            <div class="col">{{ enddate }}</div>
            <div class="col">{{ starturg }}</div>
            <div class="col">{{ endurg }}</div>
        </div>
    </div>
  </div>
  {% for titlei, ploti in mylist %}
    <div class="media content-section">
      <div class="media-body">
        <h5 class="mt-0">{{ titlei }}</h5>
        {% autoescape off %}
        {{ ploti }}
        {% endautoescape %}
      </div>
    </div>
  {% endfor %}
  <div class="form-group">
    <a class="btn btn-outline-info mb-4" href="{% url 'dashboard-heatmapinc' %}">Heat Map of Incidents</a><br>
    <a class="btn btn-outline-info mb-4" href="{% url 'dashboard-heatmapcase' %}">Heat Map of Cases</a>
  </div>
{% endblock content %}